.controlRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
  padding: 0 0 16px 0;
  margin-bottom: 18px;
  gap: 22px;
}
.count {
  font-weight: 700;
  font-size: 14px;
}
.hideBtn {
  font-size: 13px;
  color: #999;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  margin-right: auto;

}
.sortGroup {
  display: flex;
  align-items: center;
}
.sortSelect {
  font-size: 13px;
  padding: 7px 18px 7px 7px;
  border: none;
  font-weight: 600;
  background: transparent;
  outline: none;
}


@media (max-width: 768px) {
  .controlRow {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    padding-bottom: 10px;
  }
  .sortGroup {
    justify-content: flex-end;
  }
}


.mobileTopRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0 8px 0;
  margin-bottom: 10px;
}

.mobileFilterBtn {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: #222;
  cursor: pointer;
  padding-left: 8px;
}

.mobileSort {
  font-size: 16px;
  font-weight: 500;
  padding-right: 8px;
}

@media (min-width: 769px) {
  .mobileTopRow {
    display: none;
  }
}

@media (max-width: 768px) {
  .controlRow {
    display: none !important;
  }
}
