.productList {
  display: grid;
  gap: 28px;
  margin-top: 32px;
  width: 100%;
}
@media (max-width: 1100px) {
  .productList { gap: 18px; }
}
@media (max-width: 900px) {
  .productList { gap: 10px; }
}
@media (max-width: 700px) {
  .productList {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 8px;
  }
}
@media (max-width: 480px) {
  .productList {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 5px;
  }
}
